<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="result-session-login-scope" th:action="@{/session-login-scope/input-acount}" method="post">
        メールアドレス：<input type="text" name="mailaddress"><br>
        パスワード　　：<input type="password" name="pass"><br>
        <button>送信</button>
    </form>

</body>

</html>